body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: #ffffff;
  color: #757575;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.hero__button, .footer-forma__button, .form-modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-forma__text, .footer-attach__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.studio--hidden, .form-modal__checkbox--hidden, .portfolio--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__page {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.header-nav__page:hover, .header-nav__page:focus {
  color: #2196f3;
}

.header-nav__page--current::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  margin: 0;
  min-width: 100%;
  height: 4px;
  border-radius: 2px;
  background-position: bottom;
  background-color: #2196f3;
}

.header-nav__page--current {
  color: #2196f3;
}

.header-kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.header-kontakt__subject:not(:last-child) {
  margin-right: 30px;
}

.header-kontakt__subject {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-kontakt__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
}

.header-kontakt__link:hover, .header-kontakt__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-kontakt__icon {
  margin-right: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo > span {
  color: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-position: center;
  background-size: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../Images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Images/hero.jpg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  margin: 0 0 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.studio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.studio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin-top: 0;
}

.studio__text:not(:last-child) {
  margin-right: 30px;
}

.studio__text::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.studio__ikon-group::before {
  background-image: url(../Images/Group.svg);
}

.studio__ikon-clock::before {
  background-image: url(../Images/clock.svg);
}

.studio__ikon-diagram::before {
  background-image: url(../Images/diagram.svg);
}

.studio__ikon-astro::before {
  background-image: url(../Images/astronaut.svg);
}

.studio__caption {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.studio__content {
  width: 270px;
  margin: 0;
}

.works {
  padding-bottom: 94px;
}

.works__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0;
}

.works__pictures {
  position: relative;
}

.works__pictures:not(:last-child) {
  margin-right: 30px;
}

.works__link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
}

.foto {
  padding: 94px 0;
  background: #f5f4fa;
}

.foto__comand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.foto__person {
  margin-right: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.foto__person:nth-child(4n) {
  margin-right: 0;
}

.foto__caption {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.foto__content {
  padding-bottom: 16px;
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-net__list:not(:last-child) {
  margin-right: 10px;
}

.social-net__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net__link:hover, .social-net__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-net__ikon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 20px;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__name:not(:last-child) {
  margin-right: 30px;
}

.client__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 170px;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item:focus, .client__item:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-kontakt {
  padding: 0;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-kontakt__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-kontakt__link--other {
  font-style: normal;
  color: #ffffff;
}

.footer-kontakt__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-forma {
  margin-left: auto;
}

.footer-forma__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-forma__label {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
}

.footer-forma__label::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-forma__label:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-forma__label::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-forma__label::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-forma__button {
  height: 50px;
  width: 200px;
  margin-left: 12px;
  padding: 10px 10px 10px 29px;
}

.footer-forma__button-ikon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.2);
          transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.2);
}

.modal {
  position: absolute;
  max-height: 581px;
  max-width: 528px;
  top: 50%;
  left: 50%;
  overflow: visible;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button--close {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 490px;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button--close:hover, .modal__button--close:focus-within {
  fill: #2196f3;
}

.footer__logo {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  color: #ffffff;
}

.footer-attach {
  margin-left: 70px;
}

.footer__social-net {
  padding: 0;
}

.social-net__link--inverse {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.form-modal__caption {
  margin-top: 2px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form-modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__field--last {
  margin-bottom: 20px;
}

.form-modal__label {
  margin-bottom: 4px;
}

.form-modal__position {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__position:hover, .form-modal__textarea:hover, .form-modal__position:focus-within, .form-modal__textarea:focus-within {
  border-color: #2196f3;
}

.form-modal__input {
  position: relative;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__ikon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-modal__input:hover, .form-modal__input:focus-within {
  fill: #2196f3;
  border-color: #2196f3;
}

.form-modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__textarea::-webkit-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__textarea:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__textarea::-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-modal__castomcheck {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.form-modal__checkbox:checked + .form-modal__castomcheck {
  background-color: #2196f3;
  background-image: url(../Images/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.form-modal__agreeme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  line-height: 1.71;
  color: #757575;
}

.form-modal__contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.form-modal__button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__button:hover, .form-modal__button:focus {
  background-color: #188ce8;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-button__set:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button__link {
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button__link:hover, .portfolio-button__link:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.portfolio-image__part:nth-child(3n) {
  margin-right: 0;
}

.portfolio-image__part {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  height: 404px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image__part:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-image__part:hover, .portfolio-image__part:focus-within {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-image__part:hover .portfolio-image__content-cards,
.portfolio-image__part:focus-within .portfolio-image__content-cards {
  opacity: 1;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image__cards {
  position: relative;
  overflow: hidden;
}

.portfolio-image__content-cards {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 63px 24px;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.image-name {
  padding: 20px 24px;
}

.image-name__caption {
  margin: 0 0 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.image-name__content {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */