.footer-attach {
  @media screen and (min-width:$tablet) {
 margin-left: 165px;
 @media screen and (min-width:$decktop){
   margin-left: 70px;
 }
   
  }
  &__text{
  @extend %footer-captions;
  }}
  .footer__social-net {
    padding: 0;
    margin-bottom: 60px;
  }
  .social-net__link--inverse {
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $basik-transition;
  }