.footer-kontakt {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-left: 76px;
    margin-bottom: 0;
    @media screen and (min-width: $decktop) {
      display: flex;
      flex-direction: column;
      margin: 0;
      text-align: start;
    }
  }

  &__list:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $decktop) {
    &__list:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  &__link--other {
    font-style: normal;
    color: $white-main-color;
  }
  &__link {
    font-style: normal;
    color: $footer-font-color;
  }
}
