.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media   screen and (min-width:$decktop){
    padding-top: 94px;
    padding-bottom: 94px;
  }
    &--hidden{
      @extend %is-hidden;
    }
  }