.client {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    }
  &__name:not(:last-child) {
      margin-right: 30px;
    }
  &__item {
        display: inline-flex;
        width: 170px;
        height: 90px;
        align-items: center;
        justify-content: center;
        border: 1px solid #afb1b8;
        box-sizing: border-box;
        border-radius: 4px;
        fill: #afb1b8;
        transition: border-color $basik-transition, fill $basik-transition;}

        &__logo {
          display: flex;}
        
        &__item:focus,
        &__item:hover {
          border-color: $accent-color;
          fill: $accent-color;}
        }
   